html,
body {
  background-color: #b7e4c7;
}


.background {
  background-image: url("../image/grass.png");
  table-layout: fixed;
  border-spacing: 0;
  opacity: 0.7;
}

.background td {
  padding: 0;
}

.lava {
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.player {
  background: rgb(64, 64, 64);
}

.game {
  border-style: solid;
  border-width: 5px;
  border-radius: 5%;
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.viewScore {
  text-align: center;
}

.scream {
  max-width: 600px;
  max-height: 450px;
}

header {
  background-color: #81997f;
  color: #fff;
  padding: 20px;
  margin-bottom: 40px;
}

header h1 {
  margin: 0;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bolder;
  padding-top: 14px;
  padding-bottom: 14px;
}